body{
    margin: 0;
    text-align: center;
    font-family: sedan;
}
.top-container{
    background-color: burlywood;
    position: relative;
    padding: 100px;
}

span{
    color: purple;
}
h1{
    font-size: 5rem;
}

h2{
    color: blue;
    font-size: 2.5rem;
}

.middle-container{
    margin-top: 30px;
}

.profile-pic{
    border-radius: 50%;
}

.para{
    margin: auto;
    width: 30%;
    font-size: 2.5rem;
    
}

.parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    row-gap: 20px;
    width: 50%;
    margin: 100px auto 0 auto;
}

.webpara{
    font-size: 2rem
}

.paga{
    width: 50%;
    margin: 100px auto 0 auto;
}

.btn{
    padding: 10px;
    background-color: lightgreen;
    border-radius: 20px;
    color: black;
    font-size: 20px;
    
}
.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
